<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <bean id="carScraper" class="CarScraperYandex">
        <constructor-arg index="0" value="config.xml"/>
        <constructor-arg index="1" value="C:\My Dropbox\programms\Java\YaSimilarSearch"/>
        <constructor-arg index="2" value="200.68.43.235"/>
        <constructor-arg index="3" value="77221319"/>
    </bean>
    <bean id="writerCar" class="PDFWriterCar">
        <property name="filename" value="content.pdf" />
    </bean>
    <bean id="carScraper" class="CarScraperYandex">
</beans>